extends layout

block content
	h1 User Info
	table
		tr
			th
				p
			th
				p S.no.
			th
				p Website
			th
				p Username
			th
				p Password
		each user, i in information
			tr
				form#formEditInfo(name="editinfo", method="get", action="/inputEdit")
					td
						input(type="hidden",name="row",value="#{user._id}")
					td(contenteditable="true")
						p #{i+1}
					td
						input#inputWebsite(type="text", placeholder="#{user.website}", name="website")
					td
						input#inputUserName(type="text", placeholder="#{user.username}", name="username")
					td
						input#inputPassword(type="text", placeholder="#{user.password}", name="passwd")
					td
						button#btnUpdate(type="submit") Edit
			
	h2 Add New Info
	form#formAddUser(name="addinfo",method="post",action="/addinfo")
		input#inputWebsite(type="text", placeholder="website", name="website")
		br
		br
		input#inputUserName(type="text", placeholder="username", name="username")
		br
		br
		input#inputPassword(type="text", placeholder="password", name="passwd")
		br
		br
		button#btnSubmit(type="submit") Submit
	a.logout(href='/logout') Log Out
