header
  title TrustUs.Life

  link(rel="stylesheet", href="stylesheets/form.css")

  meta(charset="UTF-8")
body
  h1= title
  form#formAddUser(name="editinfo",method="post",action="/updateinfo")
        input#inputWebsite(type="text", placeholder="#{row.website}", name=website)
        br
        br
        input#inputUserName(type="text", placeholder="#{row.username}", name="username")
        br
        br
        input#inputPassword(type="text", placeholder="#{row.password}", name="passwd")
        br
        br
        button#btnSubmit(type="submit") Submit
